---
import ClubSelector from "../components/ClubSelector.astro";
import AgeTabs from "../components/AgeTabs.astro";
import TeamsList from "../components/TeamsList.astro";
import GamesList from "../components/GamesList.astro";


---

<h1>Partidos del club</h1>

<ClubSelector />

<hr>

<AgeTabs />
<TeamsList />
<GamesList />

<script type="module" src="/src/scripts/main.ts"></script>
