---
const clubs = [
  { name: "Grujoan", code: 175 },
  { name: "Astur", code: 176 },
  { name: "Atlético de Lugones", code: 206 },
  { name: "Centro Asturiano", code: 209},
  { name: "Hermanos Llana", code: 2256 },
  { name: "Juventud Estadio", code: 166 },
  { name: "Raices", code: 190 },
  { name: "Real Oviedo", code: 139 },
];
---

<select id="clubSelect" class="border rounded p-2 w-full">
  <option value="">Selecciona club</option>

  {clubs.map(club => (
    <option value={club.code}>{club.name}</option>
  ))}

</select>

<button id="buscarBtn" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Buscar</button>