---
const clubs = [
  { name: "Grujoan", code: 175 },
  { name: "Centro Asturiano", code: 180 },
  { name: "Covadonga", code: 190 }
];
---

<select id="clubSelect" class="border rounded p-2 w-full">
  <option value="">Selecciona club</option>

  {clubs.map(club => (
    <option value={club.code}>{club.name}</option>
  ))}

</select>

<button id="buscarBtn" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">Buscar</button>